# Build artifacts
build/
build_tests/
dist/
dep/
*.dylib
*.so
*.dll
*.o
*.d
*.vcvplugin

# VCV Rack SDK (if downloaded locally)
rack-sdk-2/
Rack-SDK/

# macOS specific
.DS_Store

# IDEs / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Misc
tmp/
*.log
